<%= form_for @post, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :artist %>
    <%= f.text_area :artist %>
  </div>
    <div>
    <%= f.label :venue %>
    <%= f.text_area :venue %>
  </div>
    <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
