<head>
  <title>artposts</title>
</head>

<body>
  <div class="home-index-wrapper">

    <h1 class="title">  </h1>

    <div class="posts-left">
      <table class="posts-index">
        <% @posts.reverse.each do |post| %>
        <div>
          <div class="posts">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image.url(:medium) %><br>
            <% end %>

            <div class="post-title"><%= post.title %></div>
            <div class="post-body">
              <p><%= post.body %></p>
              <p><%= post.artist %></p>
              <p><%= post.venue %></p>
            </div>
          </div>
        </div>
        <% end %>
      </table>
    </div>
  </div>
</body>
