<head></head>
<body>

<div class="posts-left">
  <h1 class="post-show"><%= @post.title %></h1>

  <div class="posts"><%= image_tag @post.image.url(:large) %></div>
  <div class="show-post-title"><%= @post.title %>|<%= @post.body %><br></div>
  <div class="show-link"><%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %></div>

</div>

  <% @post.comments.each do |comment| %>
  <div class="comment-body"><%= comment.body %></div>
  <% end %>

<div class="comment-form">
  <%= form_for [@post, @post.comments.new] do |f| %>

      <%= f.label :body %>
      <%= f.text_area :body %>

      <%= f.submit %>
  <% end %>
</div>
</body>
