<head></head>
<body>

<div class="posts-left">
  <h1 class="post-show"><%= @post.title %></h1>

  <div class="posts"><%= image_tag @post.image.url(:large) %></div>
  <div class="show-post-title"><%= @post.title %>|<%= @post.body %><br></div>
  <div class="show-link"><%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %></div>

  <%= form_for [@post, @post.comments.new] do |f| %>
  <div class="comment-form">
      <%= f.label 'post comment', :class => "comment-label" %>
      <%= f.text_area :body, :class => "comment-field" %>

      <%= f.submit %>
    <% end %>
  </div>
  </div>
  <div class="post-comments-container">
    <% @post.comments.each do |comment| %>
    <div class="post-comments"><%= comment.body %>
    </div>
    <% end %>
  </div>
  <div class="post-categories-container">
  <% @post.categories.each do |category| %>
  <div class="post-categories">
    <%= link_to category.title, category_path(category.id), :class => "bonkers" %>
  </div>
    <%end%>
  </div>

</body>
