<!DOCTYPE html>
<html>
  <head>
    <title>FourWallsApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <nav>
    <%= link_to 'FOUR WALLS', root_path %>
    </nav>
    <%= render 'flash' %>
    <%= yield %>
  </body>
</html>
