<!DOCTYPE html>
<html>
  <head>
    <title>FourWallsApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="nav-bar">
      <%= link_to 'FOUR WALLS', root_path, :class => "logo" %>
    </nav>

    <div class="top-border">
    </div>
    <nav class="left-nav">
      <div class="site-link"><%= link_to 'new post',new_post_path, :class => "left-nav-element" %></div>
      <div class="site-link"><%= link_to 'HE  ROS', posts_path, :class => "left-nav-element" %></div>
      <div class="site-link"><%= link_to '???', posts_path, :class => "nav-elements" %></div>
    </nav>

    <%= render 'flash' %>

    <%= yield %>

      <aside> FOUR </aside>
  </body>
</html>
