<!DOCTYPE html>
<html>
  <head>
    <title>FourWallsApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="header">
      <%= link_to 'FOUR WALLS', root_path, :class => "logo" %>
    </nav>


    <div class="left-nav-bar">
      <div class="site-link"><%= link_to 'NEW POST', new_post_path, :class => "left-nav-element" %></div>
      <div class="site-link"><%= link_to 'c a t e g o r y | c a t e g o r y | c a t e g o r y', categories_path, :class => "left-nav-element" %></div>
      <div class="site-link"><%= link_to '¿¿¿???', credits_path, :class => "nav-elements" %></div>
    </div>

    <%= render 'flash' %>

    <%= yield %>
  </body>
</html>
